{% include 'usernavbar.html' %}
{% load static %}

<html>

<head>
	<meta charset="ISO-8859-1">
	<title>About</title>
</head>
<style>
	body {
		background: no-repeat;
		background-size: cover;
	}
</style>

<body style="background-image: url('{% static 'images/electricity.gif' %}')">

		
	<div class="container mt-5" style="margin-top : 10%">
		<h1 class="text-center" style="color: white; font-size: 60px; font-weight: 1000;margin-top: -20px;">About Us</h1> 
		<br><br><br>
		<div class="row">
			<div class="col-sm-12">
				<center style="width: 70%; border: 2px solid  rgba(255,255,255, .2); box-shadow: 0 0 10px rgba(0,0,0, .2); backdrop-filter: blur(30px); border-radius: 10px; padding: 30px 40px;color: white;margin-left: 150px;margin-top: -50px;">
					<div class="section-title"><h2>Introduction</h2></div>
					<div class="content" style="width: 100%;">
						<p>Erstwhile Chhattisgarh State Electricity Board (CSEB) was responsible for Generation, Transmission and Distribution of electricity in Chhattisgarh State. In accordance with the provisions contained in the Section 131-134 of Electricity Act 2003, Govt. of Chhattisgarh has reorganized erstwhile CSEB into following five companies vide Notification No. F1-8/ 2008/ 13/ 1 dated 19.12.2008 :-</p>
							<li>Chhattisgarh State Power Holding Company Limited,</li>
							<li class="List2" style="margin-left: 20px;">Chhattisgarh State Power Generation Company Limited,</li>
							<li class="List3"style="margin-left: 30px;">Chhattisgarh State Power Transmission Company Limited,</li>
							<li class="List4"style="margin-left: 50px;">Chhattisgarh State Power Distribution Company Limited and</li>
							<li class="List5"style="margin-left: -10px;">Chhattisgarh State Power Trading Company Limited</li><br>
						<p style="width: 95%;">Accordingly Chhattisgarh State Power Distribution Company Limited (CSPDCL) came into existence w.e.f. 01.01.2009. CSPDCL provides electricity to consumers across the Chhattisgarh State.</p>
					</div>
			
					<div class="section-title"><h2>Registration No.</h2></div>
					<div class="content">
						<p style="width: 100%;">Chhattisgarh State Power Distribution Company Limited has been registered by the ‘Registrar of Companies MP & CG’ with Registration No. <strong>U40108 CT 2003 PLC 15822</strong>.</p>
					</div>
			
					<div class="section-title"><h3>CIN No.</h3></div>
					<div class="content">
						<p>CIN No. of CSPDCL <strong>U40108 CT 2003 SGC 015822</strong></p>
					</div>
			
					<div class="section-title"><h3>PAN No.</h3></div>
					<div class="content">
						<p>PAN No. of CSPDCL <strong>AADCC6047K</strong></p>
					</div>
			
					<div class="section-title"><h3>GST Identification No.</h3></div>
					<div class="content">
						<p>GST Identification No. <strong>22AADCC6047K1ZR</strong></p>
					</div>
			
					<div class="section-title"><h3>Registered Office</h3></div>
					<div class="content">
						<p>Vidyut Seva Bhavan,<br>
						Danganaiya,<br>
						Raipur (CG) 492013</p>
					</div>
				</center>
			</div>
		</div>
		<br> <br>
		<div class="row">
			<div class="col-sm-12">
				<!-- <center><h3 style="color: white ; background-color : black">Hola folks! It looks like you are here to know us
					better. Online Electricity Billing System is a user friendly, easy
					to use website where one can view and pay our electricity bill
					easily.</h3></center> -->
			</div>
		</div>
	</div>
	</div>

</body>

</html>
{% include 'Footer.html' %}
