{% load static %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<title>Electricity Billing System</title>

<!-- Start Navigation -->
 
<nav style="background-color: rgb(7, 5, 54);height: 80px;width: 100%;">
  <img src="{% static 'images/Cspdcllogo.png' %}" style="height: 50px;width: 110px;margin-left: 50px;margin-top: 15px;"/>
    <div class="container"><a class="navbar-brand" href="#">
    <p class="CSHS" style="font-size: 40px;margin-left: 150px;color: white;margin-top: -50px;">Chhattisgarh State Power Distribution
      Company Limited</p>
      
  </a>
  </div>
</nav>
<nav class="navbar navbar-expand-sm" style="background-color: azure;height: 35px;width: 100%;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse text-center" id="myMenu" >
    <ul class="navbar-nav pl-5" style="column-gap: 100px;margin-left: 430px;color: black;">
      <li class="nav-item" ><a class="nav-link" href="{% url 'index' %}" style=" font-size: 20px;margin-left:-80%;" >Home</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'admin_login' %}">Admin Login</a></li>
      {% comment %} <li class="nav-item"><a class="nav-link" href="{% url 'upload' %}">Camera</a></li> {% endcomment %}
      {% comment %} <li class="nav-item"><a class="nav-link" >Camera</a></li> {% endcomment %}
    </ul>
  </div>
  <hr>
</nav>